@model test.Models.NumbersOfContact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NumbersOfContact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumbersOfContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumbersOfContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneType.PhoneTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumbersOfContactId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
