@model test.Models.PhoneType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhoneType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneTypeName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.PhoneTypeId">Edit</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.PhoneTypeId">Delete</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
