@model test.Models.PhoneType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PhoneType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PhoneTypeId" />
            <div class="form-group">
                <label asp-for="PhoneTypeName" class="control-label"></label>
                <input asp-for="PhoneTypeName" class="form-control" />
                <span asp-validation-for="PhoneTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Back to List</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
